# ─── OS ───
.DS_Store
Thumbs.db

# ─── IDE ───
.idea/
.vscode/
*.swp
*.swo

# ─── Environnement ───
.env
.env.*
!.env.example

# ─── Dépendances ───
node_modules/

# ─── Build ───
dist/

# ─── Logs ───
*.log

# readme
All_Readme/